@model MyMediaDatabase1.ViewModels.IndexViewForContributorAndMovie

@{
    ViewBag.Title = "Index";
}

<h2>Cast and Crew</h2>

<p>
    @Html.ActionLink("Add Person", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Born
        </th>
        <th>
            Died
        </th>
        <th>
            Nationality
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Contributors)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBorn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>

            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>

    @if (Model.Roles != null)
    {
        <h3>Roles by Selected Contributor</h3>
        <p>
            @Html.ActionLink("Add Role", "Create", new { id = ViewBag.ContributorID })
        </p>

        <table class="table">
            <tr>
                <th>Role</th>
                <th>Movie</th>

            </tr>

            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td>
                        @item.Contribution
                    </td>
                    <td>
                        @item.Movie.Title
                        @Html.ActionLink("Delete", "DeleteRole", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    }
